script(src='/javascripts/moment.min.js')
script(src='/javascripts/jquery.min.js')
script(src='/javascripts/jquery-ui.min.js')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
script(src='//www.chartjs.org/dist/2.7.2/Chart.js')
script(src='//www.chartjs.org/samples/latest/utils.js')
script(src='/javascripts/material.min.js')
script(src='/javascripts/index.js')
script(src='/javascripts/connection.js')